// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #232323 !default;
$fg-color: #dcdcdc !default;
$alt-bg-color: #121212 !default;
$alt-fg-color: #fff !default;
$link-color: #3366CC !default;
